body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navTop {
  display: flex;
  border-bottom: 1px solid;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.navTop a {
  position: relative;
  right: 60px;
  text-decoration: none;
  color: grey;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

.Icon {
  display: flex;
  gap: 3px;
}

.navBtn:hover {
  border-bottom: 2px solid;
}

.navBottom {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.navBottom a {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  #search {
    display: none;
  }
}

.animated-title {
  font-size: 60px;
  font-family: "Raleway", Sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 100px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.animated-title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.navBottom input[type="text"] {
  display: flex;
  position: absolute;
  width: 300px;
  height: 30px;
  right: 70px;
  display: block;
}

@media only screen and (max-width: 500px) {
  #search {
    display: none;
  }
}

.bodyTop {
  display: flex;
  justify-content: center;
  height: 55px;
  width: 100%;
  background-color: #454545;
}

.TopBodyBtn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.TopBodyBtn a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.Btn {
  font-size: 20px;
  width: 100px;
  display: flex;
}

.ImgWrapper {
  width: 100%;
  height: 100%;
  border-top: 1px solid;
}

.ImgBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
  gap: 14px;
}

.Imgbtns {
  width: 45px;
}

.Imgbtns:hover {
  width: 65px;
  background-color: coral;
}

.Menu {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 380px;
}
.menu-content {
  display: none;
  width: 1000px;
  height: 100px;
  background-color: gray;
  position: fixed;
  top: 180px;
  z-index: 1;
  left: 50px;
  opacity: 0.9;
}
.tab {
  z-index: 1;
  color: white;
  margin-top: 10px;
  border: 2px solid;
  background-color: white;
}
.MenuBtn {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  position: relative;
  top: 20px;
}

article {
  height: 700px;
}

.Articletitle {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 72px;
}

.items {
  display: flex;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid;
  position: relative;
}

.Cardsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  position: relative;
  top: 100px;
}

.card {
  border: none;
  position: relative;
  top: 100px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-size: contain;
}

.card-imgcontainer {
  width: 280px;
  height: 280px;
}

.card-title {
  display: flex;
  border-bottom: 1px solid;
  padding: 5px;
  width: 100%;
  font-size: 20px;
}

.card-content {
  display: flex;
}

.card-content p {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  padding: 5px;
}

.card-cost span {
  text-decoration: line-through;
  color: lightgray;
  padding: 5px;
}

.card-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.Icon {
  display: flex;
  width: 100%;
}

.card-img1 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60%;
}

.card-img2 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60%;
}

.card-img3 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60%;
}

.card-footer {
  background: none;
  border: none;
}

.Bottomarticle {
  position: relative;
  top: 150px;
}

footer {
  width: 100%;
}

.Footercontainer {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.footerTitle {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding-right: 10px;
  display: flex;
  margin: 2px solid;
}

.footerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.footerMain {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 200px;
  border-left: 2px solid;
  padding: 20px;
}

.footerMain:first-child {
  border-left: none;
}

.footerMainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
}

.footerContent {
  display: flex;
  margin-right: auto;
  font-size: 14px;
  position: relative;
  margin-left: auto;
  top: 80px;
}

.event {
  text-decoration: none;
  color: aqua;
}
